# .gitignore for NestJS
node_modules
dist
npm-debug.log
yarn-error.log
test/coverage
.DS_Store
*.pem

# Environment variables
.env
.env.production
.env.development
.env.test

# IDE
.idea
.vscode
*.swp
*.swo